.diff-status-wrapper(*ngIf="key === 'attachments'")
    include history-templates/history-attachments

.diff-status-wrapper(*ngIf="key === 'content_diff'")
    p.diff(
        *ngIf="diff.get(0)",
        [innerHTML]="diff.get(0)"
    )
    p.diff(
        *ngIf="diff.get(1)",
        [innerHTML]="diff.get(1)"
    )
