section.admin-menu(*ngIf="project")
    nav
        ul
            li([class.active]="active == 'project-profile'")
                a([routerLink]="['/project', project.get('slug'), 'admin', 'project-profile', 'details']")
                    span.title(translate="ADMIN.MENU.PROJECT")
            li([class.active]="active == 'project-values'")
                a([routerLink]="['/project', project.get('slug'), 'admin', 'project-values', 'status']")
                    span.title(translate="ADMIN.MENU.ATTRIBUTES")
            li([class.active]="active == 'memberships'")
                a([routerLink]="['/project', project.get('slug'), 'admin', 'memberships']")
                    span.title(translate="ADMIN.MENU.MEMBERS")
            li([class.active]="active == 'roles'")
                a([routerLink]="['/project', project.get('slug'), 'admin', 'roles']")
                    span.title(translate="ADMIN.MENU.PERMISSIONS")
            li([class.active]="active == 'third-parties'")
                a([routerLink]="['/project', project.get('slug'), 'admin', 'third-parties', 'webhooks']")
                    span.title(translate="ADMIN.MENU.INTEGRATIONS")
            li([class.active]="active == 'contrib'", *ngIf="adminPlugins?.size > 0")
                a([routerLink]="['/project', project.get('slug'), 'admin', 'contrib', adminPlugins.get(0)]")
                    span.title(translate="COMMON.PLUGINS")
