div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../../assets/svg/logo-color.svg
            h1.logo Taiga

            tg-change-password-from-recovery-form((changePassword)="changePassword($event)")
