div.wrapper
    sidebar.menu-secondary.sidebar.settings-nav
        tg-user-settings-navigation(active="change-password")

    section.main.user-change-password
        header
            tg-main-title([sectionName]="'CHANGE_PASSWORD.SECTION_NAME' | translate")

        tg-change-password-form((changePassword)="onChangePassword($event)")
