.create-project-warning(
    *ngIf="isPrivate && !canCreatePrivateProjects.valid && canCreatePrivateProjects.reason == 'max_private_projects'"
)
    tg-svg(svg-icon="icon-exclamation")
    span(translate="PROJECT.CREATE.MAX_PRIVATE_PROJECTS")

.create-project-warning(
    *ngIf="!isPrivate && !canCreatePublicProjects.valid && canCreatePublicProjects.reason == 'max_public_projects'"
)
    tg-svg(svg-icon="icon-exclamation")
    span(translate="PROJECT.CREATE.MAX_PUBLIC_PROJECTS")
