tg-lightbox(key="admin.delete-points")
    tg-lightbox-close
    tg-confirm-ask-choice(
        [title]="'ADMIN.COMMON.TITLE_ACTION_DELETE_VALUE' | translate",
        [subtitle]="deletingItem?.get('name')",
        [message]="'ADMIN.PROJECT_VALUES.REPLACEMENT' | translate",
        [options]="otherItems(deletingItem)",
        (response)="confirmDelete($event)"
    )

section.colors-table.admin-status-table
    div.project-values-title
        h2 {{ name }}
        a.button.button-gray.show-add-new(
            [title]="addLabel",
            (click)="newStatusOpen = true"
        )
            span {{ addLabel }}

    div.table-header
        div.row
            div.project-values-name(translate="COMMON.FIELDS.NAME")
            div.project-values-value(translate="COMMON.FIELDS.VALUE")
            div.project-values-settings

    div.table-main
        div.sortable
            div(*ngFor="let value of values")
                tg-admin-attributes-points-row(
                    [value]="value",
                    [type]="type",
                    *ngIf="!editing[value.get('id')]",
                    (edit)="editing[value.get('id')]=true",
                    (delete)="deleteItem(value)"
                )
                tg-admin-attributes-points-form(
                    [value]="value",
                    [visible]="editing[value.get('id')]",
                    (cancel)="editing[$event]=false"
                )

        tg-admin-attributes-points-form(
            [value]="null",
            [visible]="newStatusOpen",
            (cancel)="newStatusOpen=false"
        )
