section.working-on-container
    header
        h1.title-bar.working-on-title(translate="HOME.WORKING_ON_SECTION")

    .working-on(*ngIf="assignedTo?.size")
        tg-duty.duty-single(
            *ngFor="let duty of assignedTo",
            [duty]="duty",
            type="working-on"
        )
    .working-on-empty(*ngIf="!assignedTo?.size")
        p([innerHTML]="'HOME.EMPTY_WORKING_ON' | translate")
        include empty.pug

section.watching-container
    header
        h1.title-bar.watching-title(translate="HOME.WATCHING_SECTION")

    .watching(*ngIf="watching?.size")
        tg-duty.duty-single(
            *ngFor="let duty of watching",
            [duty]="duty",
            type="watching",
            [class.blocked]="duty.is_blocked"
        )

    .watching-empty(*ngIf="!watching?.size")
        p([innerHTML]="'HOME.EMPTY_WATCHING' | translate")
        include empty.pug
