section
    h2.title([innerHTML]="title")
    p.message([innerHTML]="message")
    .options
        a.button-green(
            [title]="'COMMON.ACCEPT' | translate",
            (click)="onAccept()"
        )
            span(translate="COMMON.ACCEPT")
