div(*ngIf="role")
    div(*ngIf="!role.get('external_user')")
        .edit-role(*ngIf="editingName")
            form([formGroup]="form", (onSubmit)="updateName($event)", novalidate)
                input(type="text", formControlName="name", (keyup)="manageEsc($event)", autofocus)
                button.save([title]="'COMMON.SAVE' | translate", (click)="updateName($event)")
                    tg-svg(svg-icon="icon-save")
        p.total((click)="editingName = true", *ngIf="!editingName")
            ng-container(*tgLoading="'updating-role-name'")
                span.role-name(
                    [title]="'ADMIN.ROLES.COUNT_MEMBERS' | translate:{count: role.get('members_count')}"
                ) {{ role.get('name') }}
                a.edit-value()
                    tg-svg(svg-icon="icon-edit")

    div(*ngIf="role.get('external_user')")
        p.total
            span.role-name {{ role.get('name') }}

    div.any-computable-role(*ngIf="noEstimableRoles", translate="ADMIN.ROLES.WARNING_NO_ROLE")

    div.general-category.external-user(*ngIf="role.get('external_user')")
        span([innerHTML]="'ADMIN.ROLES.NOTE_EXTERNAL_USERS' | translate")

    div.general-category(*ngIf="!role.get('external_user')")
        span(translate="ADMIN.ROLES.HELP_ROLE_ENABLED")
        div.check
            span.loading(*tgLoading="'updating-role-computable'")
            input(type="checkbox", [checked]="role.get('computable')", (change)="toggleComputable($event)")
            div
            span.check-text.check-yes(translate="COMMON.YES")
            span.check-text.check-no(translate="COMMON.NO")

    tg-admin-edit-role-permissions([role]="role", [project]="project")

tg-lightbox(key="roles.disable-computable", *ngIf="role")
    tg-lightbox-close
    tg-confirm-ask(
        [title]="'ADMIN.ROLES.DISABLE_COMPUTABLE_ALERT_TITLE' | translate",
        [subtitle]="'ADMIN.ROLES.DISABLE_COMPUTABLE_ALERT_SUBTITLE' | translate:{roleName: role.get('name')}",
        [loading]="'updating-role-computable'",
        (response)="onDisableComputableConfirm($event)"
    )
