.filters-save-custom
    a.button.button-gray.save-filters.ng-animate-disabled.e2e-open-custom-filter-form(
        *ngIf="!customFilterForm && appliedFilters && appliedFilters.size > 0",
        (click)="customFilterForm = true",
        [title]="'COMMON.SAVE' | translate",
        translate="COMMON.FILTERS.ACTION_SAVE_CUSTOM_FILTER"
    )

    form(
        *ngIf="customFilterForm",
        (submit)="saveFilter(customFilterName)"
    )
        // tg-autofocus
        input.my-filter-name.e2e-filter-name-input(
            name="customFilterName",
            type="text",
            [(ngModel)]="customFilterName",
            [placeholder]="'COMMON.FILTERS.PLACEHOLDER_FILTER_NAME' | translate"
        )
