doctype html
html(lang="en")
    head
        base(href="/")
        meta(charset="utf-8")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="fragment", content="!")

        // Main meta
        title Taiga
        meta(name="description", content="Taiga is a project management platform for startups and agile developers & designers who want a simple, beautiful tool that makes work truly enjoyable.")
        meta(name="keywords", content="agile, scrum, taiga, management, project, developer, designer, user experience")

        //-meta(name="viewport", content="width=device-width, user-scalable=no")
        link(rel="icon", type="image/png", href="/" + _version + "/images/favicon.png")
        script(src="/" + _version + "/js/jquery.min.js", type="text/javascript")

        //- PRERENDER SERVICE: This is to know when the page is completely loaded.
        script(type='text/javascript').
            window.prerenderReady = false;

        //- Version pass to javascript
        script(type='text/javascript').
            window._version = "#{_version}";

    body(tg-main)
        tg-view
        include assets/svg/sprite.svg
        include assets/svg/editor.svg
