div.backlog-summary
    div.summary
        tg-backlog-progress-bar([stats]="stats")
        // div.summary-progress-bar(tg-backlog-progress-bar="stats")

        div.data
            span.number {{ completedPercentage() | number }}%

        div.summary-stats(*ngIf="stats.get('total_points')")
            span.number {{ stats.get('total_points') | number }}
            span.description([innerHTML]="'BACKLOG.SUMMARY.PROJECT_POINTS' | translate")
        div.summary-stats
            span.number {{ stats.get('defined_points') | number }}
            span.description([innerHTML]="'BACKLOG.SUMMARY.DEFINED_POINTS' | translate")
        div.summary-stats
            span.number {{ stats.get('closed_points') | number }}
            span.description([innerHTML]="'BACKLOG.SUMMARY.CLOSED_POINTS' | translate")
        div.summary-stats
            span.number {{ stats.get('speed') | number:0 }}
            span.description([innerHTML]="'BACKLOG.SUMMARY.POINTS_PER_SPRINT' | translate")


        div.stats.js-toggle-burndown-visibility-button(
            [title]="'BACKLOG.SPRINT_SUMMARY.TOGGLE_BAKLOG_GRAPH' | translate",
            [class.active]="graphOpen",
            *ngIf="showGraph()",
            (click)="graphOpen = !graphOpen"
        )
            tg-svg(svg-icon="icon-graph")

    div.empty-burndown(*ngIf="showGraphPlaceholder()")
        tg-svg(svg-icon="icon-graph")
        div.empty-text
            p.title(translate="BACKLOG.CUSTOMIZE_GRAPH")
            p
                | {{'BACKLOG.CUSTOMIZE_GRAPH_TEXT' | translate}}
                a(
                    [routerLink]="['/project', project.slug, '/admin/project-profile/modules']",
                    [title]="'BACKLOG.CUSTOMIZE_GRAPH_TITLE' | translate",
                    translate='BACKLOG.CUSTOMIZE_GRAPH_ADMIN'
                )

    div.graphics-container(
        [class.open]="graphOpen",
        *ngIf="showGraph()"
    )
        tg-backlog-burndown-graph([stats]="stats")
