div.profile.centered
    tg-profile-bar(
        [user]="user | async",
        [isCurrentUser]="isCurrentUser",
        [stats]="stats | async"
    )
    div.main
        tg-profile-tabs.timeline-wrapper(
            [contacts]="contacts | async",
            [projects]="projects | async",
            [timeline]="timeline | async",
            [items]="items | async",
            [user]="user | async",
            [isCurrentUser]="isCurrentUser",
        )

        tg-profile-sidebar([isCurrentUser]="isCurrentUser")
