tg-progress-bar {
    background: $white;
    display: block;
    flex-basis: 200px;
    height: 30px;
    min-width: 200px;
    padding: 3px;
    .current-progress {
        background: $primary-light;
        height: 100%;
    }
}
