.card-owner
    .card-owner-info(*ngIf="item?.get('assigned_to')")
        .card-owner-avatar
            tg-avatar([user]="item?.get('assigned_to_extra_info')", [class.is-iocaine]="item?.get('is_iocaine')")
        span.card-owner-name(*ngIf='zoom.visibility.owner') {{item.getIn(['assigned_to_extra_info', 'full_name_display'])}}
        div(*ngIf='!zoom.visibility.owner')
            tg-card-title([item]="item", [zoom]="zoom", [project]="project")

    .card-owner-info(*ngIf="!item?.get('assigned_to')")
        img(src="/" + _version + "/images/unnamed.png")
        span.card-owner-name(
            *ngIf='zoom.visibility.owner',
            translate="COMMON.ASSIGNED_TO.NOT_ASSIGNED"
        )
        div(*ngIf='!zoom.visibility.owner')
            tg-card-title([item]="item", [zoom]="zoom", [project]="project")

    //*tgIfPerm="getPermissionsKey()"
    .card-owner-actions(*ngIf='zoom.visibility.owner')
        a.e2e-assign.card-owner-assign((click)="onClickAssignTo()")
            tg-svg(svg-icon="icon-add-user")
            span(translate="COMMON.CARD.ASSIGN_TO")

        // tg-loading="item?.get('loading')"
        a.e2e-edit.card-edit((click)="onClickEdit()")
            tg-svg(svg-icon="icon-edit")
            span(translate="COMMON.CARD.EDIT")
