@mixin triangled-bg {
    background: url('../../assets/images/bg.png') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('../../assets/images/invitation_bg.jpg') no-repeat center center;
    background-size: cover;
}
